ul.list-unstyled.mailbox-nav
  li.active
    a(href='inbox.html')
      i.fa.fa-inbox
      | Inbox
      span.badge.badge-success.pull-right 4
  li
    a(href='inbox.html')
      i.fa.fa-sign-out
      | Sent
  li
    a(href='inbox.html')
      i.fa.fa-file-text-o
      | Draft
  li
    a(href='inbox.html')
      i.fa.fa-exclamation-circle
      | Spam
  li
    a(href='inbox.html')
      i.fa.fa-trash
      | Trash
