.navbar
  .navbar-inner.container
    .sidebar-pusher
      a.push-sidebar(href='javascript:void(0)')
        i.fa.fa-bars
    .logo-box
      a.logo-text(href='index.html')
        span Stubmail 2.0
    .search-button
      a.show-search(href='javascript:void(0)')
        i.fa.fa-search
