.row.mailbox-header
  .col-md-2
    a.btn.btn-success.btn-block(href='compose.html') Compose
  .col-md-6
    h2 Inbox
  .col-md-4
    form(action='inbox.html')
      .input-group
        input.form-control.input-search(type='text' name='search' placeholder='Search...')
        span.input-group-btn
          button.btn.btn-success(type='button')
            i.fa.fa-search
