<div class="panel panel-white">
  <div class="panel-body mailbox-content">
    <table class="table">
      <thead>
        <tr>
          <th colspan="1" class="hidden-xs">
            <span><input type="checkbox" class="check-mail-all"></span>
          </th>
          <th class="text-right" colspan="5">
            <span class="text-muted m-r-sm">Showing 20 of 346</span>
            <a class="btn btn-default m-r-sm" data-toggle="tooltip" data-placement="top" title="Refresh">
              <i class="fa fa-refresh"></i>
            </a>
            <div class="btn-group m-r-sm mail-hidden-options">
              <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Delete">
                <i class="fa fa-trash"></i>
              </a>
              <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Report Spam">
                <i class="fa fa-exclamation-circle"></i>
              </a>
              <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Mark as Important">
                <i class="fa fa-star"></i>
              </a>
              <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Mark as Read">
                <i class="fa fa-pencil"></i>
              </a>
            </div>
            <div class="btn-group m-r-sm mail-hidden-options">
              <div class="btn-group">
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-folder"></i>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <li>
                    <a href="inbox.html#">Social</a>
                  </li>
                  <li>
                    <a href="inbox.html#">Forums</a>
                  </li>
                  <li>
                    <a href="inbox.html#">Updates</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="inbox.html#">Spam</a>
                  </li>
                  <li>
                    <a href="inbox.html#">Trash</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="inbox.html#">New</a>
                  </li>
                </ul>
              </div>
              <div class="btn-group">
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-tags"></i>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <li>
                    <a href="inbox.html#">Work</a>
                  </li>
                  <li>
                    <a href="inbox.html#">Family</a>
                  </li>
                  <li>
                    <a href="inbox.html#">Social</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="inbox.html#">Primary</a>
                  </li>
                  <li>
                    <a href="inbox.html#">Promotions</a>
                  </li>
                  <li>
                    <a href="inbox.html#">Forums</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="btn-group">
              <a class="btn btn-default">
                <i class="fa fa-angle-left"></i>
              </a>
              <a class="btn btn-default">
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-class="{read: item.isRead, unread: !item.isRead}" ng-repeat="item in $ctrl.items track by $index">
          <td class="hidden-xs">
            <span><input type="checkbox" class="checkbox-mail"></span>
          </td>
          <td class="hidden-xs">
            <i class="fa fa-star" ng-class="{'icon-state-warning': item.isFavorite}"></i>
          </td>
          <td class="hidden-xs" ng-bind="::(item.from.name || item.from.email)"></td>
          <td ng-bind="::item.subject">Nullam quis risus eget urna mollis ornare vel eu leo</td>
          <td><i class="fa fa-paperclip" ng-if="item.attachments.length"></i></td>
          <td ng-bind="item.created"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
