main.page-content.content-wrap
  app-header
  .page-inner
    #main-wrapper.container
      .row.m-t-md
        .col-md-12
          mailbox-header
        .col-md-2
          mailbox-sidebar
        .col-md-10
          mailbox-list(type='inbox')
      .page-footer
        .container
          .no-s 2015 &copy; Modern by Steelcoders.
