doctype html
html
  head
    title Staffload 2.0
    meta(content='width=device-width' initial-scale=1 name='viewport')
    meta(charset='utf-8')
    meta(name='description' content='Admin Dashboard Template')
    meta(name='keywords' content='admin,dashboard')
    meta(name='author' content='Steelcoders')
    link(href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css')
  body(ng-app="app" ng-strict-di)
    app
